*,
*::before,
*::after {
  box-sizing: border-box;
}

.antbell {
  body {
    font-family: 'Fira Sans', sans-serif;
  }

  a {
    font-family: 'Fjalla One', sans-serif;
  }

  ul,
  ol {
    margin: 0;
  }
}
